<!DOCTYPE html>
<html>

<head></head>

<body>
    <h1>Products</h1>
    <h4>
        <a href="/products/<%=product.ID %>">
            <%=product.productTitle %>
        </a>
    </h4>
    <p>
        <%=product.productDescription %>
    </p>
    <p>Price : <%=product.productPrice %> Baht</p>
</body>

</html>